.app-header {
  padding: 1em;

  background-color: var(--clr-brand1);
  color: var(--clr-primary);
}

.app-header .logo {
  font-family: libre, sans-serif;
  font-size: 6rem;
}

.app-header nav {
  margin-block-end: 1em;
}
