.home-page {
  width: 100%;
  height: 100%;
  background-image: url('https://res.cloudinary.com/dy972hmba/image/upload/v1739132864/HERO_IMG_usdoyc.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
