.toy-index {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.toy-index .pagination {
  text-align: center;
}

.toy-index .loader-container {
  justify-content: center;
  flex: 1;
}

.toy-details span {
  font-weight: 400;
}