.user-msg {
  display: flex;
  align-items: center;

  position: fixed;
  bottom: 1em;
  right: 1em;

  font-weight: 700;
  border-radius: 4px;
  padding: 0.2em 0.5em;
}

.user-msg.success {
  background-color: var(--clr-tertiary);
  color: var(--clr-dark);
}

.user-msg.error {
  background-color: var(--clr-tertiary);
  color: var(--clr-dark);
}

.user-msg button {
  font-size: 0.5em;
  float: right;
  margin-inline-start: 1em;
}
